/* Tablets horizontally: 1024px tp 1200px */
@media only screen and (max-width: 1200px) {
    body { font-size: 20px; }
    
    .hero-button {
        width: 55%;
    }
}

/* Large phones & tablets: 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    
    .hero-button {
        width: 65%;
    }
}

@media only screen and (max-width: 901px) {
    body { font-size: 18px; }
    
    .project-container img {
        height: 150px;
    }
}

/* Medium phones: 480 to 767px */
@media only screen and (max-width: 767px) {
    
    header {
        background-position: calc(50% + 50px) 50%;
    }
    
    body {
        font-size: 17px;
    }
        
    .projects-col,
    .skills-col,
    .social-media-row { 
        width: 100%              /* Cols will stack */
    }   
    
    .projects-col {
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .projects-col h3 {
        margin: 0 2px 5px 2px;
    }
    
    .projects-col p {
        text-align: left;
    }
    
    .project-container p {
        bottom: 10px;
        left: 10px;
    }

    
    .hero-buttons-bar { 
        width: 50%;
        float: right;
        font-size: 90%;
    }
    
    .hero-button {
        width: 75%;
    }
    
    section {
        padding: 30px 4vw;
    }
    
    .social-media ion-icon {
        font-size: 200%;
    }
    
    .project-container {
        display: inline-block;
        width: 49%;             /* Temporary workaround, fix later */
    }
    
    .project-container img {
        height: 140px;
    }
    
    .desc { 
        width: 85%;
        font-size: 100%;
    }
    
    .skills-col h3 {
        margin-top: 20px;
    }
    
    .skills-col h4 {
        margin-bottom: 10px;
        font-weight: 400;
    }
    

/* Small phones: 0 to 479px */
@media only screen and (max-width: 479px) {
    .projects-container img {
        height
        width: 100%;
    }
    
    body { font-size: 16px; }
}
