/* Tablets horizontally: 1024px tp 1200px */
@media only screen and (max-width: 1200px) {
    body { font-size: 20px; }
}

/* Large phones & tablets: 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
}

/* Medium phones: 480 to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 17px; }
    h1 { font-size: 150%; }
    .col { width: 100% }    /* Cols will stack */
    .hero-buttons-bar { 
        width: 50%;
        float: right;
        font-size: 90%;
    }
    
    .social-media ion-icon {
        font-size: 200%;
    }
    
    .projects-col img {
        
        display: inline-block;
        height: 150px;
        width: 49.6%;               /* Workaround, to fix later */
    }
    

/* Small phones: 0 to 479px */
@media only screen and (max-width: 479px) {
    
}
