/* 
COLOR PALETTE
#5D001E
#9A1750
#EE4C7C
#E3AFBC 
#E3E2DF
*/

/* ------------------------------------ */
/* BASIC SETUP                          */
/* ------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #eee;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 125%;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS                  */
/* ------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 40px 20px 40px 20px;
}
 
/* ------- HEADINGS  --------------- */

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
    max-width: 40vw;
    line-height: 120%;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    
    margin-bottom: 30px;    
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2:after {
   background: none repeat scroll 0 0 #9A1750;
   bottom: -13px;
   content: "";
   display: block;
   height: 2px;
   position: relative;
   width: 100px;
   margin: 0 auto 40px auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

/* ------- PARAGRAPHS --------------- */

.desc {
    text-align: center;
    font-size: 120%;
    padding-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%
}


/* ------------------------------------ */
/* HEADERS                              */
/* ------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.main-nav {
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    width: 100vw;
    position: fixed;
    visibility: hidden;     /* Til we hit next section */
}

.nav-links {
    text-align: right;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #888;
    font-size: 80%;
}


/* ------------------------------------ */
/* HERO BUTTONS                         */
/* ------------------------------------ */

.hero-title {
    margin-bottom: 50px;
}

.hero-buttons-bar {
    float: right;
    width: 50%;
}

.hero-buttons-list {
    text-transform: uppercase;
    color: #000;
}

.hero-button {
    width: 50%;
    background-color: #9A1750;
    margin-right: 20%;
    margin-bottom: 25px;
    font-size: 120%;
    padding: 5px;
    text-align: center;
    transition: background-color 0.2s;
    padding: 10px 0;
    font-size: 150%;
    letter-spacing: 2px;
    color: #eee;
}

.hero-button:hover {
    background-color: #5D001E;
}


/* ------------------------------------ */
/* MY PROJECTS                          */
/* ------------------------------------ */

.projects-col {
}

.projects-col h3 {
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
    /*padding: 5px 0;*/
    background-color: #9A1750;
    color: #eee;
    /*margin: 0 5px 10px 5px;*/
}

.project-container {
    position: relative;
    width: 100%;
    transition: font-size 0.2s;
}

.project-container:hover {
    font-size: 115%;
}

.project-container img {
    position: relative;
    width: 100%;
    margin-top: 5px;
    display: block;
    object-fit: cover;
    height: 25vh;
    /*padding: 5px;*/
    transition: 0.2s;
}


.project-container p {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.49);
    padding: 2px 5px;
    margin-right: 15px;
    font-size: 90%;
}

.blur-effect {    /* Effect while hovering project pics */
    filter: blur(1px) grayscale(100%);
}


/* ------------------------------------ */
/* SKILLS                               */
/* ------------------------------------ */

.section-skills {
    background-color: #e8e8e8;
}

.mobile-disclaimer {
    text-align: center;
    font-style: italic;
    width: 75%;
    margin: auto;
}
.skills-col {
}

.skills-col h3 {
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    background-color: #9A1750;
    color: #eee;
}

.larger-skills-col {
    width: 58%;
}

.smaller-skills-col {
    width: 39%;
    float: right;
}

.skills-col h3 {
    margin-bottom: 20px;
}

.skills-col h4 {
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.skills-col p {
    margin-bottom: 20px;
}


/* ------------------------------------ */
/* RESUME                               */
/* ------------------------------------ */

.download-button {
    display: inline-block;
    background-color: #9A1750;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.2s;
    color: #eee;
}

.download-button:link,
.download-button:visited {
    text-align: center;
}

.download-button:hover,
.download-button:active {
    background-color: #5D001E;
}


/* ------------------------------------ */
/* SOCIAL MEDIA + CONTACT               */
/* ------------------------------------ */

.section-contact {
    background-color: #e8e8e8;
}

.social-media-row {
    width: 100%;
    padding: 0 20px;
}

.social-media {
    background-color: #9A1750;
    text-align: center;
    border: 10px solid #e8e8e8;        /* Workaround*/
    padding: 5px 0;
    transition: background-color 0.2s;
    color: #eee;
}

.social-media:hover,
.social-media:active {
    background-color: #5D001E;
}

.social-media ion-icon {
    margin: 6px 0 2px 0;
    font-size: 270%;
}

/* ------------------------------------ */
/* FOOTER                               */
/* ------------------------------------ */

footer {
    background-color: #393333;
    color: #999;
    font-size: 80%;
    padding: 20px;
}

.footer-nav li {
    display: inline-block;
    list-style: none;
    color: #999;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    color: #999;
    margin-right: 20px;
    transition: color 0.2s;
    text-decoration: none;
}

.footer-nav li a:active,
.footer-nav li a:hover {
    color: #fff;
}


.footer-social-media {
    text-align: right;
    font-size: 120%;
}

.footer-social-media ion-icon {
    margin-left: 10px;
}