/* ------------------------------------ */
/* BASIC SETUP                          */
/* ------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #eee;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS                  */
/* ------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 20px 0 20px;
}
 
/* ------- HEADINGS  --------------- */

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;    
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
   font-size: 110%;
    margin-bottom: 15px;
}


ul {
    list-style: none;
}

li a {
    text-decoration: none;
}

/* ------- PARAGRAPHS --------------- */

.desc {
    text-align: center;
}

/* ------- ICONS --------------- */

.icon-big {   /* used like a font */
    font-size: 300%;
    display: block;
    color: #ef7e22;
    margin-bottom: 10px;
}

/* ------- BUTTONS --------------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    border: 1px solid #ef7e22;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #b05d14;
}

.btn-full:hover,
.btn-full:active {
    background-color: #b05d14;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}

.download-button {
    text-align: center;
}

/* ------------------------------------ */
/* HEADERS                              */
/* ------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;  
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.main-nav {
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    width: 100vw;
    position: fixed;
    visibility: hidden;     /* Til we hit next section */
}

.nav-links {
    text-align: right;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #888;
    font-size: 80%;
}


/* ------------------------------------ */
/* HERO BUTTONS                         */
/* ------------------------------------ */

.hero-buttons-bar {
    float: right;
    width: 50%;
}

.hero-buttons-list a {
    text-transform: uppercase;
    color: #000;
}

.hero-button {
    background-color: yellow;
    margin-right: 20%;
    margin-bottom: 15px;
    font-size: 120%;
    padding: 5px;
    text-align: center;
}


/* ------------------------------------ */
/* MY PROJECTS                          */
/* ------------------------------------ */

.section-projects .desc {
    margin-bottom: 30px;
}

.projects-col {
    padding: 10px;
}

.projects-col h3 {
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: #fff;
}

.projects-col img {
    width: 100%;
    margin-top: 18px;
    display: block;
    object-fit: cover;
    height: 25vh;
}

/* ------------------------------------ */
/* SOCIAL MEDIA + CONTACT               */
/* ------------------------------------ */

.social-media {
    background-color: rgba(204, 170, 27, 0.46);
}

/* ------------------------------------ */
/* FOOTER                               */
/* ------------------------------------ */

footer {
    background-color: #393333;
    color: #999;
    font-size: 80%;
    padding: 20px
}

.footer-nav li {
    display: inline-block;
    list-style: none;
    color: #999;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    color: #999;
    margin-right: 20px;
    transition: color 0.2s;
    text-decoration: none;
}

.footer-nav li a:active,
.footer-nav li a:hover {
    color: #fff;
}


.footer-social-media {
    text-align: right;
    font-size: 120%;
}

.footer-social-media ion-icon {
    margin-left: 10px;
}