/* ------------------------------------ */
/* BASIC SETUP                          */
/* ------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #eee;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS                  */
/* ------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 40px 20px 40px 20px;
}
 
/* ------- HEADINGS  --------------- */

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
    max-width: 40vw;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;    
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
   font-size: 110%;
    margin-bottom: 15px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

/* ------- PARAGRAPHS --------------- */

.desc {
    text-align: center;
    padding-bottom: 20px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* ------- ICONS --------------- */

.icon-big {   /* used like a font */
    font-size: 300%;
    display: block;
    color: #ef7e22;
    margin-bottom: 10px;
}



/* ------------------------------------ */
/* HEADERS                              */
/* ------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.main-nav {
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    width: 100vw;
    position: fixed;
    visibility: hidden;     /* Til we hit next section */
}

.nav-links {
    text-align: right;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #888;
    font-size: 80%;
}


/* ------------------------------------ */
/* HERO BUTTONS                         */
/* ------------------------------------ */

.hero-title {
    margin-bottom: 50px;
}

.hero-buttons-bar {
    float: right;
    width: 50%;
}

.hero-buttons-list {
    text-transform: uppercase;
    color: #000;
}

.hero-button {
    width: 50%;
    background-color: #e3be26;
    margin-right: 20%;
    margin-bottom: 25px;
    font-size: 120%;
    padding: 5px;
    text-align: center;
    transition: background-color 0.2s;
    padding: 10px 0;
    font-size: 150%;
    letter-spacing: 2px;
}

.hero-button:hover {
    background-color: orange;
}


/* ------------------------------------ */
/* MY PROJECTS                          */
/* ------------------------------------ */

.projects-col {
    padding: 10px;
}

.projects-col h3 {
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    margin: 0 5px 10px 5px;
}

.project-container {
    position: relative;
    width: 100%;
    transition: font-size 0.2s;
}

.project-container:hover {
    font-size: 115%;
}

.project-container img {
    position: relative;
    width: 100%;
    margin-top: 5px;
    display: block;
    object-fit: cover;
    height: 25vh;
    padding: 5px;
    transition: 0.2s;
}

/*.project-container img:hover,
.project-container img:active {
    filter: blur(1px) grayscale(100%);
}*/


.project-container p {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.49);
    padding: 2px 5px;
    margin-right: 15px;
    font-size: 90%;
}

.blur-effect {          /* Effect while hovering project pics */
    filter: blur(1px) grayscale(100%);
}

/* ------------------------------------ */
/* RESUME                               */
/* ------------------------------------ */

.download-button {
    display: inline-block;
    background-color: rgba(204, 170, 27, 0.46);
    text-align: center;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.2s;
}

.download-button:link,
.download-button:visited {
    text-align: center;
}

.download-button:hover,
.download-button:active {
    background-color: #e7c744;
}


/* ------------------------------------ */
/* SOCIAL MEDIA + CONTACT               */
/* ------------------------------------ */

.social-media-row {
    width: 100%;
    padding: 0 20px;
}

.social-media {
    background-color: rgba(204, 170, 27, 0.46);
    text-align: center;
    border: 10px solid #eee;        /* Workaround*/
    padding: 10px 0;
    transition: background-color 0.2s;
}

.social-media:hover,
.social-media:active {
    background-color: #e7c744;
}

.social-media ion-icon {
    margin-bottom: 10px;
    font-size: 270%;
}

/* ------------------------------------ */
/* FOOTER                               */
/* ------------------------------------ */

footer {
    background-color: #393333;
    color: #999;
    font-size: 80%;
    padding: 20px;
    margin-top: 20px;
}

.footer-nav li {
    display: inline-block;
    list-style: none;
    color: #999;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    color: #999;
    margin-right: 20px;
    transition: color 0.2s;
    text-decoration: none;
}

.footer-nav li a:active,
.footer-nav li a:hover {
    color: #fff;
}


.footer-social-media {
    text-align: right;
    font-size: 120%;
}

.footer-social-media ion-icon {
    margin-left: 10px;
}